/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Roboto+Mono:wght@600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
   
}

.App {
  width: 90%;
  margin: 2rem auto;

}

header {
  /* background-color: aquamarine; */
  height: 100px;
}
nav {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  border: 0.2rem solid;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}

/* .btn-create-users {
 
  border-radius: 12px;
  padding: 1rem;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 4px 8px rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



.btn-create-users span {
  font-size: 19px;
  text-align: center;
  margin-right: 0.5rem;
} */

.btn-create-users{
   background-color: #555a88;
  color: aliceblue;
  border-radius: 50%;
  position: fixed;
  right: 3.5rem;
  bottom: 8rem;
  z-index: 90;
  width: 80px;
  height: 80px;
  text-shadow: 0 4px 8px rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
 
}
.btn-create-users p{
  display: none;
  
}

.btn-create-users span {
  font-size: 50px;

  padding: 0;
  margin: 0;

}

.btn-create-users:hover {
  transform: scale(1.1);
}

main {
  width: 80%;
  margin: 0 auto;
  position: relative;
 
}

.container_form {
  position: fixed;
  width: 80%;
  margin: 0 auto;
  z-index: 100;
  top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 0.35rem solid;
  padding: 3rem 5rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  background-color: rgb(240, 241, 242);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.titleform {
  text-align: center;
  font-size: 40px;
  text-shadow: 0 4px 8px rgb(0, 0, 0);
}

.input_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.4rem;
}

label {
  font-weight: bold;
  font-size: 20px;
}

input {
  padding: 0.2rem;
  border-radius: 8px;
  padding-left: 1rem;
}

.addButton {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 20px;
  text-shadow: 0 4px 8px rgb(0, 0, 0);
  font-weight: bold;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  font-size: 18px;
  background-color: #555a88;
  color: aliceblue;
}

.addButton:hover {
  transform: scale(1.1);
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
  
}
li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0.15rem solid;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}

li:hover{
  transform: scale(1.1);
}
.container-btn{
  display: flex;
  gap: 1rem;
  justify-content: end;
}
.btn-select{
  padding: 0.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  color: rgb(108, 108, 108);
}

.btn-delete{
  background-color: #D93F3F;
  color: aliceblue;
  padding: 0.2rem;
  border-radius: 8px;
   box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.btn-select:hover{
  transform: scale(1.1);
}
.btn-delete:hover{
  transform: scale(1.1);
}

.exit_form{
  position: absolute;
  border: none;
  right: 0.5rem;
  top: 1rem;
}

@media screen and (min-width:600px) {
  
.btn-create-users {

  position: static;
 
  border-radius: 12px;
  padding: 1rem;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-create-users p{
  display: flex;

  
}


.btn-create-users span {
  display: block;
  font-size: 19px;
  /* text-align: center; */
  margin-right: 0.5rem;
}


  ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}


.container_form {
  width: 80%;
  margin: 0 auto;
 
}

form{
  width: 400px;
  margin: 0 auto;
  
}

.titleform{
  position: relative;
}
.exit_form{
  width: 20%;
  position: absolute;
  top: 2rem;
  right: 0.5rem;
}

}


/* 
@media screen and (max-width:600px) {
    ul {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 0 auto;
  
}

.btn-create-users{
  border-radius: 50%;
  position: fixed;
  right: 3.5rem;
  bottom: 8rem;
  z-index: 90;
  width: 80px;
  height: 80px;
 
}
.btn-create-users p{
  display: none;
  
}

.btn-create-users span {
  font-size: 50px;

  padding: 0;
  margin: 0;

}

main{
  width: 80%;
  margin: 0 auto;
}
form {
  width: 80%;
  padding: 1rem 3.5rem;
  margin: 0 auto;
 
}

.container_form{
  top: 0%;
  left: 8%;
  width: 80%;
  margin: 0 auto;

  
}


  
} */